# Ignore the build output and intermediate directories
bin/
obj/

# Ignore user-specific files
*.suo
*.user
*.userprefs
*.sln.docstates

# Ignore the .vs directory
.vs/

# Ignore NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Uncomment if necessary to ignore the launchSettings.json
# as it contains secret keys, local paths, ports, etc.
Properties/launchSettings.json